<div class="card-container">
	<div class="card card-small" (click)="selection.value = 'component'" tabindex="0">
		<a href="/basic" routerLink="/basic" routerLinkActive="active"> Basic </a>
	</div>

	<div class="card card-small" (click)="selection.value = 'material'" tabindex="0">
		<a href="/menu-bubble" routerLink="/menu-bubble" routerLinkActive="active"> Menu Bubble </a>
	</div>

	<div class="card card-small" (click)="selection.value = 'material'" tabindex="0">
		<a href="/floating-menu" routerLink="/floating-menu" routerLinkActive="active"> Floating Menu  </a>
	</div>
	<div class="card card-small" (click)="selection.value = 'material'" tabindex="0">
		<a href="/readonly" routerLink="/readonly" routerLinkActive="active"> Read-Only  </a>
	</div>

	<div class="card card-small" (click)="selection.value = 'material'" tabindex="0">
		<a href="/trailing-paragraph" routerLink="/trailing-paragraph" routerLinkActive="active"> Trailing Paragraph</a>
	</div>
	<div class="card card-small" (click)="selection.value = 'material'" tabindex="0">
		<a href="/basic" routerLink="/basic" routerLinkActive="active">  Hiding Menu Bar </a>
	</div>
	<div class="card card-small" (click)="selection.value = 'material'" tabindex="0">
		<a href="/basic" routerLink="/basic" routerLinkActive="active"> Tables  </a>
	</div>
	<div class="card card-small" (click)="selection.value = 'material'" tabindex="0">
		<a href="/basic" routerLink="/basic" routerLinkActive="active"> Search and Replace  </a>
	</div>
	<div class="card card-small" (click)="selection.value = 'material'" tabindex="0">
		<a href="/basic" routerLink="/basic" routerLinkActive="active"> Suggestions </a>
	</div>
	<div class="card card-small" (click)="selection.value = 'material'" tabindex="0">
		<a href="/basic" routerLink="/basic" routerLinkActive="active">Markdown Shortcuts  </a>
	</div>

	
	<div class="card card-small" (click)="selection.value = 'material'" tabindex="0">
		<a href="/menu-bubble" routerLink="/menu-bubble" routerLinkActive="active">  History </a>
	</div>

	<div class="card card-small" (click)="selection.value = 'material'" tabindex="0">
		<a href="/menu-bubble" routerLink="/menu-bubble" routerLinkActive="active">  Embeds </a>
	</div>
	<div class="card card-small" (click)="selection.value = 'material'" tabindex="0">
		<a href="/menu-bubble" routerLink="/menu-bubble" routerLinkActive="active"> Placeholder  </a>
	</div>
	<div class="card card-small" (click)="selection.value = 'material'" tabindex="0">
		<a href="/menu-bubble" routerLink="/menu-bubble" routerLinkActive="active"> Focus  </a>
	</div>

  </div>

  